<h1> New post</h1>

<form action="/new_post" method="POST" role="form">
  <textarea name="content" class="form-control" rows="6" placeholder="Type your message" style="width:400px"></textarea>
  <textarea name="author" class="form-control" rows="1" placeholder="Inpurt your name" style="width:400px"></textarea>

  <button type="submit" class="btn btn-primary">Отправить</button>
</form>
